{% extends 'base.html.twig' %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Funcionario
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th>Nome</th>
                        <td>{{ funcionario.nome }}</td>
                    </tr>
                    <tr>
                        <th>Data de Nascimento</th>
                        <td>{{ funcionario.dataDeNascimento|date("d-m-Y") }}</td>
                    </tr>
                    <tr>
                        <th>Data de entrada</th>
                        <td>{{ funcionario.dataDeEntrada|date("d-m-Y") }}</td>
                    </tr>
                    <tr>
                        <th>Tempo na empresa</th>
                        <td>{{ funcionario.tempoNaEmpresa|date("%Y anos, %m meses, %d dias") }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}